@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

body{
    margin: 0;
    padding: 0;
    list-style: none;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: auto;
    max-width: 100%;
    padding: 0 15px;
}

nav{
    box-shadow: 3px 3px 3px #3629291f;
    position: relative;
}

nav .row{
     display: flex;
     width: 100%;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.navbar {
    margin-left: auto;
}

.navbar li {
    display: inline-block;
 
}


.navbar li a{
    font-family: alks;
    color: #151728;
    display: inline-block;
    padding: 1rem;
}

.logo{
    position: absolute;
    width: 80px;
    top: 20px;
    object-fit: contain;
}

.droplist{
    position: relative;
}

.dropdown {
    position: absolute;
    background-color: #fff;
    border: 2px solid #cccccc38;
    border-radius: 3px;
    padding: 18px;
    transition: ease-out .5s;
    box-shadow: 7px 7px 7px #cccccc40;
    height: 0rem;
    opacity: 0;
    pointer-events: none;
}

.droplist:hover .dropdown {
    height: 14rem;
    opacity: 1;
    pointer-events: all;
}

header{
    background-image: url(../img1/phpdev.png);
    height: 44vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px #3629291f;
    justify-content: flex-end;
    margin-left: 200px;
}

.textbox{
    display: inline-block;
    background-color: #f1fafd;
    text-align: center;
    padding: 35px 70px;
    font-family: alk-sanet;

}

.meins .row{
    justify-content: flex-end;
}

.navbar li:last-child a{
    padding-right: 0;
}

.list-inline{
    margin: 40px 0;
    padding-left: 0;
}

.list-inline li{
    display: inline-block;
    margin-left: 0;
    font-family: alk-sanet;
    padding: .7rem 1rem;
    color: #241b1b;
    font-weight: bold;
} 

.list-inline li:first-child {
    background-color: #151728;
    color: #fff;
}

.col-3{
    width: 33.3333%;
    padding: 0 15px;
}

.col-100{
    width: 100%;
    padding: 0 15px;
}

.cards{
    box-shadow: 3px 3px 8px #cccccc78;
    border-radius: 3px;
    margin-bottom: 30px;
}

.cards img{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
 
}

.cards-body{
    padding: 20px;
    text-align: center;
    font-family: alk-sanet;
}

.blog .row{
    margin: 0 -15px;
}

.col-4{
    width: 33.3333%;
    padding: 0 15px;
}

.container1{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards1{
    box-shadow: 3px 3px 8px #cccccc78;
    border-radius: 3px;
    margin-bottom: 30px;
}

.cards1 img{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cards1-body{
    padding: 20px;
    text-align: center;
    font-family: alk-sanet;
    background-color: #fff;
}

.blog1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: rgb(255 247 247 / 74%);
    position: relative;
}

@media (max-width:1200px){
       .blog .row {
        margin: 0 0;
     }
}

@media (max-width:1000px){
    header{
        background-position: left;
        background-size: contain;
    }
 
}

@media (max-width:800px){
    header{
        background-image: none;
    }

    .meins .row {
        justify-content: center;
    }

    .col-3{
        width: 50%;
    }
 
}

@media (max-width:700px){
 
    .navbar {
        display: none;
    }

    nav {
        padding: 7px;
        position: relative;
        width: 100%;
        z-index: 999;
    }

    .logo{
    position: relative;
    display: block;
    margin: auto;
    top: 0;
    }
}

footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 1px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
