@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    margin: 300px auto;
    width: 400px;
    height: 300px;
    background-color: #1d9c60;
}

nav{
    background-color: #00000052;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


                                                                            /* second dropdown */

.dropbtn1{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown1{
    position: relative;
    display: inline-block;
}

.dropdown-content1{
    display: none;
    position: absolute;
    background-color: #a065ba;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 3px
}


.dropdown-content1 ul li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
   
}

li{
     list-style: none;
}

 .dropdown-content1 a:hover {background-color: rgba(0, 0, 0, 0.159);}
  
 .dropdown1:hover .dropdown-content1 {display: block;}
 
 .dropdown1:hover .dropbtn1 {background-color: #3e8e41;}


                                                                        /* Third Dropdown */

                                                                        
.dropbtn2{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown2{
    position: relative;
    display: inline-block;
}

.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #a065ba;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 3px
}


.dropdown-content2 ul li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
    list-style: none;
}

.dropdown-content2 a:hover {
    background-color: rgba(0, 0, 0, 0.159);
}
  
.dropdown2:hover .dropdown-content2 {
    display: block;
}
 
 .dropdown2:hover .dropbtn2 {
    background-color: #3e8e41;
}                                                                      
