@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
}

nav ul {
    display: inline-flex;
    margin-left: auto;
    list-style: none;
}

nav ul li{
    position: relative;
    padding: 1rem 0;
}

.dropdown{
    position: absolute;
    background-color: #2f4f4f;
    width: 0px;
    top: 33px;
    opacity: 0;
    z-index: -1;
    left: -100%;
    transition: all .6s;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #0502021c;
}

nav ul li:hover .dropdown{
    opacity: 1;
    z-index: 1;
    left: 0;
    width: 193px;
    top: 48px;
}

.dropdown a{
    display: block;
    padding: 10px 14px;
    transition: all .6s;
}

.dropdown a:hover{
    background-color: rgb(25, 44, 44);

}

.mr-0{
    margin: 0 -6px;
}

nav ul li a{
color: #fff;
padding-left: 7px;
font-family: alk-sanet;
}

.container{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: 25%;
    padding: 0 15px;
}

.cards{
    padding: 7px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #ccc;
}

.cards img{
    max-width: 100%;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
}

.cards-body{
    text-align: center;
    font-family: alk-sanet;
}

nav{
    background-color: darkslategray;
    display: flex;
}

@media (max-width: 1000px){

    .col-4{
        width: 33.333%;
        padding: 0 15px;
    }
}

@media (max-width: 600px){

    .col-4{
        width: 50%;
        padding: 0 15px;
    }

    nav ul{
        margin-left: auto;
        display: block;
        list-style: none;
        margin: auto;
        text-align: center;
    }

    nav ul li a{
        margin-bottom: 7px;
        display: block;
    }
}

@media (max-width: 400px){

    .col-4{
        width: 100%;
        padding: 0 15px;
    }
}

/* @media (max-width:1500px) and (min-width:600px){
    body{
        background-color: black;
    }
} */

@media print and (max-width:1000px){
    .row{
        flex-wrap: nowrap;
    }
    
}

/* ტრანსფორმაციები */

.col-4 .cards{
    overflow: hidden
}

.col-4:first-child .cards{
    transform: matrix(1, 0, -1, 1, 0, -1);

}

.overs{
    background-color: chartreuse;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    animation-name: changebackground;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: backwards; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

@keyframes changebackground {
    0%{ background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,0,0,1) 50%);}
    20%{ background: linear-gradient(90deg, rgba(2, 255, 65, 0.782) 0% rgba(203,42,42,1) 50%);}
    40%{ background: linear-gradient(90deg, rgb(35, 15, 48) 0% rgb(235, 0, 0) 50%);}
    70%{ background: linear-gradient(90deg, rgb(57, 3, 255) 0% rgb(35, 255, 6) 50%);}
    100%{ background: linear-gradient(90deg, rgb(0, 86, 245) 0% rgba(203,42,42,1) 50%);}
}

.center{
    padding-top: 150px;
    padding-bottom: 150px;
    margin: auto;
    width: 33.333%;
    text-align: center;
}

.center svg{
    width: 100px;
    height: 100px;
    animation-name: heart;
    animation-duration: .6s;
    color: rgb(16, 104, 104);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heart{
    0%{transform: scale(.5)}
    100%{transform: scale(1.2)}

}

.scrollflex{
    display: flex;
    width: 11.7%;
    margin: auto;
    margin-top: 20px;
    overflow-x: scroll;
}

.scrollflex .col-5 {
    width: 276px;
    height: 180px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-5 p{
    display: block;
    width: 250px;
    text-align: center;
}


