@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

*{
    box-sizing: border-box;
}

ul li:last-child .testp {
    background-color: red;
}

ul li{
    display: inline-block;
    border-right: 1px solid red;
}

ul li p:not(.active){
    background-color: rgb(92, 0, 241);
}

ul li p::first-line{
    font-size: 25px;
    background-color: #fff;
    padding: 5px;
}

.content{
    width: 100px;
}

::selection{
    background-color: blue;
    color: #fff;
}

.content::first-line{
    background-color: red;
}

body{
    margin: 0;
    background-color: hsl(154deg 100% 45%);
    height: 1800px;
}

p{
    font-size: 14px;
    line-height: 1.2;
    font-family: alk-sanet;
    text-align: center;
    text-transform: capitalize;
}

.hoverable{
    transition: all 0.9s;
    position: relative;
    left: 0;
}

.form-con{
    transition: all 0.9s;
}

.form-con + span{
    opacity: 0;
}

.form-con:focus{
    border-radius: 7px;
    padding: 25px;
}

.form-con:focus + span{
    opacity: 1;
}

body{
    transition: all 2s;
}

.btn:active{
    background-color: red;
    background: linear-gradient(90deg, rgba(126,208,68,1) 0%, rgba(50,194,150,1) 50%, rgba(69,104,252,1) 100%);
    font-size: 30px;
    color: #fff;
    padding: 25px;
    text-align: center;
}

a:visited{
    color: rgb(130, 30, 125);
}

/* body:hover{
    background-color: brown;
}

.hoverable:hover{
    border-radius: 50px;
    left: 50%;
} */

.modcheckbox + span{
    opacity: 0;
    transition: all .9s;
}

.modcheckbox:checked + span{
    opacity: 1;
}

#costumcheck{
    display: none;
}

.cos-check{
    position: relative;
    padding: 7px;
    display: inline-block;
}

.checksp{
    background-color: red;
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#costumcheck:checked + .checksp{
    background-color: green;
}

input[value="1"]{
    background-color: red;
}

.after{
    width: 300px;
    height: 200px;
    background-color: red;
    margin: auto;
    position: relative;
}

.after::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: #fff;
    background-image: url('../../img/ican.jpg');
    opacity: .6;
}

.after::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: top;
    background: #fff;
    background-image: url('../../img/ican.jpg');
}



