@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

* {
    box-sizing: content-box;
}

body{
    font-family: alk-sanet;
     margin: 0;
     background-color: #353e49;
}

/* header {
    height: 450px;
    background-color: hsl(211deg 100% 50%);
    background-color: black;
    background-image: url(../../img/camel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
} */

a {
    text-decoration: none;
}

nav{
    
    background-color: hsl(210deg 10% 23% / 0%);
}


.inline-li{
    display: inline-block;
    padding: 25px 13px;
    color: #93989e;
    
}

.navbar{
    margin-left: auto;
    margin-block-start: 0;
    text-align: right;
    margin-block-end: 0;
    padding-left: 0;
}

.nav-link{
    font-family: alk-sanet;
    color: hsl(220deg 2% 68%);
    font-size: 15px;
}



.content{
    width: 1140px;
    margin: auto;
    max-width: 100%;
    display: flex;
}


.firsttext{
    display: block;
    margin-top: 277px;
    margin-left: 104px;
    color: hsl(0deg 0% 100%);
    font-size: 25px;
}

.prod-footer{
    display: flex;
    justify-content: space-between;
}

.btn{
    border: none;
    border-radius: 4px;
    padding: 20px 19px;
    font-family: alk-sanet;
}

.learnmore{
    background-color: #b2d5c68e;
    color: #fff;
    margin-left: 100px;
}

.getstarted{
    background-color: rgba(36, 109, 118, 0.856);
    color: #fff;
    top: 0px;
    margin-right: 1767px;
}

