@font-face {
    font-family: alk-sanet;
    src: url('../../font/alk-sanet-webfont.woff');
}

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(154deg 100% 45%);
    height: 1800px;
}

.product{
    position: relative;
    background-color: #fff;
    width: 350px;
    border-radius: 7px;
    margin: 25px auto;
    box-shadow: 3px 8px 10px rgb(144 136 136);    padding: 30px;
    position: relative;
}

.product-img{
    display: block;
    margin: auto;
    width: 50%;

}

.prod-body{
    padding: 30px;
    text-align: center;
    font-family: alk-sanet;
}

.prod-footer{
    display: flex;
    justify-content: space-between;
}

.btn{
    border: none;
    border-radius: 4px;
    padding: 11px 19px;
    font-family: alk-sanet;
}

.buy{
    background-color: #00e57f;
    color: #fff;
}

.addcart{
    position: relative;
    top: 3px;
}

.prod-head{
    position: absolute;
    width: 100%;
}

.wish{
    position: absolute;
    left: 25px;
    top: 32px;
}

.heart{
    position: relative;
    top: 3px;
    padding-right: 4px;
    color: #cbcbcb;
}

.priceoff{
    padding: 9px;
    display: inline-block;
    background-color: #f74b00;
    color: #fff;
    font-family: alk-sanet;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 24px;
}


                                                    /* დავალება მეორე */

                                                    /* პროდუქტი 2.1 */


.product2{
    position: relative;
    background-color: #fff;
    padding: 30px;
    position: relative;
    object-fit: contain;
}

.product2-img{
    display: block;
    margin: auto;
    width: 50%; 
    
}



.prod2-body{
    padding: 30px;
    text-align: left;
    font-family: alk-sanet;
}

.price{
    margin-left: 91%;
    display: block;
    margin-top: -53px;
    color: #80cdb3;
}

                                                    /* პროდუქტი 2.2 */


.less{
    position: relative;
    box-shadow: 3px 3px 3px rgb(230, 230, 230);
    background-color: #fff;
    margin: auto;
    border-radius: 2px;
}

.lessimg{
    padding: 25px;
    height: 250px;
    display: block;
    margin: auto;
    object-fit: contain;
}

.less-body{
    font-family: alk-sanet;
    padding: 30px;
}

.img{
    position: relative;
}

.imgbg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #29b56e9c;
    z-index: 77;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.road{
    text-decoration: none;
    display: inline-block;
    padding: 11px 17px;
    top: 50%;
    left: 50%;
    font-family: alk-sanet;
    color: #fff;
    position: absolute;
    z-index: 9999;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
}

.title{
    font-size: 18px;
}

.right{
    float: right;
    color: #80cdb3;
}

.color{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
}

.flexs{
    display: flex;
    width: 700px;
    margin: auto;
    flex-wrap: wrap;
}

.col-6{
    width: 50%;
    padding: 15px;
}

.centered{
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: cadetblue;
    text-align: center;  
}


    /* absolute ელემენტის გაცენტრება */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-block-start: 0;
    margin-block-end: 0; */

    /* სტატიკური ელემენტის გაცენტრება */
    /* display: flex;
    justify-content: center;
    align-items: center; */


    /* Block ელემენტის გაცენტრება ჰორიზონტალურად */
    /* width: 50px;
    display: block;
    margin: auto; */

.centered img{
    width: 100px;
    border-radius: 50px;
}

.centered > p{
    color: red;
}

.centered ~ h1{
    font-size: 45px;
    text-align: center;
}

form{
    position: relative;
    width: 250px;
    background: #fff;
    padding: 25px;
    text-align: center;
}

form input{
    padding: 14px;
    border: none;
    border-radius: 3px;
    background-color: cadetblue;
}

form span{
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 65px;
    transition: all .6s;
}
s
form input:focus + span{
    top: 1px;
}